# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables / Secrets
.env
.env.*
!.env.example

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# MLflow
mlruns/

# Model Artifacts
*.pkl
*.joblib
*.pt
*.pth
*.h5
*.keras

# Cache / Temporary
.cache/
tmp/
temp/
